 @tailwind base;
@tailwind components;
@tailwind utilities;


/* echo "# netflixGPT" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/mittalraghav45/netflixGPT.git
git push -u origin main */